body {
    background-image: url("flowers-276014.jpg");
    background-size: cover;
}


.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, rgb(43, 43, 198), rgb(14, 14, 89));
}

h4 {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: rgb(249, 225, 187);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.weather {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#current-day {
    font-size: 20px;
}